@model IEnumerable<Products>

@{
    ViewData["Title"] = "List of Products";
}

<!DOCTYPE html>
<html lang="">
<head>
    <title>List of products</title>
</head>
<body>
    <h1>list of products</h1>
    <div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Image</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Delivery</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="col-md-8 offset-md-2">
                        <td class="align-middle">
                            <img  src="@item.ProductImage" alt="" style="width:150px">
                           
                        </td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.ProductId)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.ProductCategory)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.ProductDelivery)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                        <td class="align-middle">
                            <a asp-action="GetProductById" asp-route-id="@item.ProductId">View</a>
                            <a asp-action="EditProduct" asp-route-id="@item.ProductId">Edit</a>
                            <a asp-action="DeleteProduct" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
