@using eshop.Data
@model eshop.Data.ViewModels.ShoppingCartVm

@{
    ViewData["Title"] = "Shopping cart summary";
     
}


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center"></div>
        <h2>Your basket</h2>
    </div>
    
    <table class="table">
        <thead>
        <tr>
            <th>Selected amount</th>
            <th>Products</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        </thead> 
        <tbody>
        @foreach (var item in Model.ShoppingCart!.ShoppingCartItems)
        {
            <tr>
                <td class="align-middle">@item.Amount</td>
                <td class="align-middle">@item.Products!.ProductName</td>
                <td class="align-middle">@item.Products.ProductPrice.ToString("C")</td>
                <td class="align-middle">@((item.Amount*item.Products.ProductPrice).ToString("C"))</td>
                <td class="align-middle">
                    <a  asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Products.ProductId">
                        
                         <i class="bi bi-bag-dash-fill"></i>
                    </a>
                    <a  asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Products.ProductId">
                        <i class="bi bi-bag-plus-fill"></i>
                    </a>
                </td>
            </tr> 
        }
        </tbody>    
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td><b>Total</b></td>
                <td>@Model.ShoppingCartTotal.ToString("C")</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <div class="btn-group">
            <a class="btn btn-light" style="background-color: #A48374; color: #EBE3DB" asp-controller="Products" asp-action="Index">Continue Shopping</a>
        </div>
    </div>
</div>